.button__favorite {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

.entry {
  border-bottom: 1px dotted var(--color-granite);
  padding: 20px;
}

.entry__date {
  text-align: center;
}
